{% assign tags = page.tags %}
{% include tag_loop.html %}

<h1 class="post-title">
    <div class="post-title__text">{{ page.title  }}  <a href="{{ page.paperlink }}" target="_blank"><i class="fas fa-book" style="color: rgb(68, 0, 255);"></i></a></div>
</h1>
<br>
<p class="post-title__subtitlenew">
{{ page.author.name }} <br>
{{ page.status }} {{ page.journal }}, {{ page.date | date: "%b, 20%y" }}
</p>

<p class="larger">
<strong>Abstract</strong><br>
Because of its high directivity, free-space optical (FSO) communication offers a number of advantages. It can, however, give rise to major system difficulties concerning alignment between two terminals. During the link-acquisition step (a.k.a. coarse pointing), a ground station can be prevented from acquiring optical links due to pointing errors and insufficient information about unmanned aerial vehicle locations. We propose, in this letter, a radio-frequency (RF) lens antenna array to increase the performance of coarse pointing in hybrid RF/FSO communications. The proposed algorithm using a novel closed-form angle estimator, compared to conventional methods, reduces the minimum outage probability by over a thousand times.
</p>