---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L7CFHM61J9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L7CFHM61J9');
</script>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
</head>
<body>
<div class="wrapper">
{% include header.html %}
{{ content }}
<span class="toggle"></span>
<span class="wave"></span>
<br>
{% if page.comments %}
{% include post/disqus.html %}
{% endif %}
<br>
{% include page/about.html %}
</div>
</body>
</html>
